################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimingAndScoring/.vs/TimingAndScoring/v16
/TimingAndScoring/TimingAndScoring/obj
/.vs
/TimingAndScoring/TimingAndScoring/bin/Debug/netcoreapp3.0
